<!DOCTYPE html>
<html>
  <head>
    <title>session login test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>Index Page</h1>
    <p>Welcome, <%= userName %></p>
	<p>
		<a href="/logout">Logout</a>
	</p>    
  </body>
</html>
