<!DOCTYPE html>
<html>
  <head>
    <title>session login test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Login Page</h1>
  <form action="/create" method="post">
  	<input type="text" name="userName">
  	<button type="submit">Submit</button>
  </form>
  </body>
</html>
